.articles-wrapper {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping of articles on smaller screens */
  justify-content: space-around; /* Distributes space around articles */
}

.article-container {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  text-align: center;
  flex: 0 1 calc(50% - 20px); /* Takes up 50% of the container width minus margin */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.article-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.article-image {
  max-width: 100%; /* Ensures image doesn't exceed the container width */
  height: auto; /* Maintains aspect ratio */
  max-height: 300px; /* Set a max height to prevent very tall images */
  margin-bottom: 10px;
}

.article-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-votes {
  font-size: 1em;
  margin: 5px 0;
}

.like-button,
.dislike-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.like-button:hover,
.dislike-button:hover {
  background-color: #0056b3;
}

.article-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.article-detail h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.image-container {
  margin-bottom: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.details {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .article-detail {
    padding: 10px;
  }

  .article-detail h1 {
    font-size: 20px;
  }

  .details {
    font-size: 14px;
  }
}

.loader {
  display: flex;
  margin: 30%;
  justify-content: center;
  align-items: center;
}

.comments-list {
  list-style-type: none;
  padding: 0;
}

.comment-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.comment-box {
  display: flex;
  align-items: center;
}

.profile-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  flex: 1;
}

h2 {
  text-align: center;
}

.topics-container {
  max-width: 600px;
  margin: 20% auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.topics-list {
  list-style-type: none;
  padding: 0;
}

.topics-list li {
  margin-bottom: 10px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 4px;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .topics-container {
    padding: 15px;
  }

  .topics-list li {
    padding: 12px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .topics-container {
    padding: 10px;
  }

  .topics-list li {
    padding: 8px;
    font-size: 14px;
  }
}
